<form action="/posts" method="post">
  <label for="name">Post Name: </label>
  <input type="text" name="name" id="name"><br>
  <label for="content">Post Content: </label>
  <input type="text" name="content" id="content"><br>
  <input type="submit" value="submit">
</form>
